services:
  - type: static
    name: thecajunmenu-site
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    pullRequestPreviewsEnabled: true
    envVars:
      - key: NODE_VERSION
        value: 20
    autoDeploy: true
    branch: main
